# Data files
data/raw/
data/processed/
*.parquet
*.csv

# Environment
.env
__pycache__/
*.pyc
*.pyo
.DS_Store

# Virtual environment
venv/
.venv/

# Logs
logs/
*.log

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/
*.ipynb
